# ~~~~~~~~~~~~~~~~~~~~~~~~~
# Nextcloud (net)
# ~~~~~~~~~~~~~~~~~~~~~~~~~

# Aim : Self hosted cloud
# Method : Quadlet
# Variables to set : none

[Unit]
Wants=network-online.target
After=network-online.target
After=local-fs.target

[Network]
NetworkName=nextcloud
Driver=bridge

[Install]
WantedBy=default.target
